a{background-color:transparent;-webkit-text-decoration-skip:objects;}
.even{background-color:#fbfbfb;border:#fff 1px solid;}
.odd{background-color:#f6f6f5;border:#fff 1px solid;}

.findList a,.findMoreMatches a{text-decoration:none;}
.findSection{margin-top:20px;}
.findSectionHeader{clear:left;}
table.findList{border-collapse:collapse;width:100%;}
table.findList td{padding:4px 6px 6px 6px;}
table.findList .primary_photo{padding:0 4px 0 0;}
table.findList td.primary_photo{width:32px;}
div.findMoreMatches{background-color:#f0f0ee;color:#666;border-radius:0 0 10px 10px;font-size:12px;line-height:30px;padding-left:8px;}
div.findMoreMatches a{font-weight:bold;}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}